Source: kano-extras
Maintainer: Radek Pazdera <radek@kano.me>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>=9.0.0)

Package: kano-extras
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-gi
Replaces: kano-desktop (<< 1.0-60)
Breaks: kano-desktop (<< 1.0-60)
Description: A simple app to launch various program
 In Kano OS, it is used to manage the Extras folder.
