Source: kano-apps
Maintainer: Team Kano <dev@kano.me>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>=9.0.0)

Package: kano-apps
Architecture: all
Depends: ${misc:Depends}, python, python-gi, kano-themes,
 kano-toolset (>= 1.2-5), kano-updater, kano-profile
Replaces: kano-desktop (<< 1.0-60)
Breaks: kano-desktop (<< 1.0-60)
Conflicts: kano-extras
Description: A simple app to launch various program
 In Kano OS, it is used to manage the Apps folder.
