Source: kano-apps
Maintainer: Team Kano <dev@kano.me>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends:
    debhelper (>=9.0.0),
    python,
    gettext,
    g++,
    libqt5all-dev,
    libparson-dev,
    kano-qt-sdk-dev

Package: kano-apps
Architecture: all
Depends: ${misc:Depends}, python, python-gi, kano-toolset (>= 1.2-5),
 kano-themes, kano-profile (>=1.3-6), kano-i18n
Replaces: kano-desktop (<< 1.0-60)
Breaks: kano-desktop (<< 1.0-60)
Conflicts: kano-extras
Description: A simple app to launch various program
 In Kano OS, it is used to manage the Apps folder.

Package: libkano-apps
Architecture: any
Depends: ${misc:Depends}, libparson
Description: Library to manage apps installed on Kano OS

Package: libkano-apps-dev
Architecture: any
Depends: ${misc:Depends}
Description: Library to manage apps installed on Kano OS

Package: kano-qt-apps
Architecture: any
Depends: ${misc:Depends}, libqt5all, libkano-apps
Description: Library to manage apps installed on Kano OS

Package: kano-apps-i18n-orig
Architecture: all
Description: Data for working on translations of kano-apps
Multi-Arch: foreign
