#!/usr/bin/make -f

#
# FIXME: libqt5all-dev package should resolve binary paths
#
QT5PATH=/usr/local/qt5/bin
export PATH := $(PATH):$(QT5PATH)

%:
	cd po && make
	dh $@ --with python2

override_dh_auto_build:
	# FIXME: The chroot environment should handle these links
	ln -sfv -r /opt/vc/lib/libbrcmEGL.so /opt/vc/lib/libEGL.so
	ln -sfv -r /opt/vc/lib/libbrcmGLESv2.so /opt/vc/lib/libGLESv2.so
	cd kano_qt_apps && qmake -r
	cd kano_qt_apps && make
	cd po && make messages.pot
