[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=LibreOffice Installer
Name[en_GB]=LibreOffice Installer
Icon=/usr/share/kano-apps/icons/libreoffice-installer.png
TryExec=libreoffice
Exec=rxvt -title 'LibreOffice installer' -e libreoffice-installer %p
Comment[en_GB]=Add LibreOffice to Kano OS
StartupNotify=true
Categories=Office;Tools;
Terminal=false
Help=LibreOffice has everything you need to create amazing documents. You can write, calculate, draw, make spreadsheets and presentations, and more. Click to Install.
