[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Wolfram Installer
Name[en_GB]=Wolfram Installer
Icon=/usr/share/kano-apps/icons/wolfram-installer.png
TryExec=wolfram
Exec=rxvt -title 'Wolfram installer' -e sudo wolfram-installer %p
Comment[en_GB]=Add Wolfram to Kano OS
StartupNotify=true
Categories=Application;Education;Tools;
Terminal=false
Help=Measure the world around you with Mathematica and Wolfram - the amazing computational knowledge engine that lets you make amazing graphs and dive into data! Click to Install.
