[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/bin/kano-extras
Icon=/usr/share/kano-desktop/icons/extras.png
Terminal=false
Name=Kano Extras
Comment= Launch all your favourite Kano applications
Categories=Application;Utility;Kano;
MimeType=application/x-kano-extras
