[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/bin/kano-apps
Icon=/usr/share/kano-desktop/icons/apps.png
Terminal=false
Name=Kano Apps
Comment= Launch all your favourite Kano applications
Categories=Application;Utility;Kano;
MimeType=application/x-kano-apps
