[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Leafpad
Name[en_GB]=Leafpad
Icon=/usr/share/kano-apps/icons/leafpad.png
TryExec=leafpad
Exec=leafpad
Comment[en_GB]=Simple text editor
StartupNotify=true
Categories=Office;Tools;
Terminal=false
Help=Leafpad is the easiest way to read and edit your text files.
