[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=LXTerminal
Name[en_GB]=LXTerminal
Icon=/usr/share/kano-apps/icons/terminal.png
TryExec=lxterminal
Exec=lxterminal
Comment[en_GB]=Graphics Terminal frontend
Categories=Tools;
StartupNotify=true
