[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Scratch
Name[en_GB]=Scratch
Icon=scratch
TryExec=scratch
Exec=scratch
Comment[en_GB]=Scratch development environment
StartupNotify=true
Categories=Application;Education;Scratch;Extras;
Help=A different type of visual programming language that uses blocks to create cool programs.
