[Desktop Entry]
Version=1.0
Type=Application
Name=Wolfram
Icon=/usr/share/kano-apps/icons/wolfram.png
TryExec=wolfram
Exec=rxvt -title "Wolfram Language" -e wolfram
Comment[en_GB]=Technical Programming Environment
StartupNotify=true
Categories=Application;Education;Tools;
Help=Measure the world around you with Mathematica and Wolfram - the amazing computational knowledge engine that lets you make amazing graphs and dive into data!
